* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid green; */
}


nav {
    text-align: center;
}


.navigation-menu {
    padding: 78px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 26px;
}


.navigation-menu a {
    color: rgba(98, 98, 98, 255);
    text-decoration: none;
}


.navigation-menu a:hover{
    color: #03a9f4;
}

.navigation-menu li {
    display: inline-block;
}


.navigation-menu li:not(:last-child) {
    margin-right: 120px;
}

menu {
    width: 901px;
    height: 1704;
    margin: auto;
}


/* .box1 {
    margin-right: 53px;
    width: 422px;
    display: inline-block;
}


.box2 {
    width: 422px;
    display: inline-block;
}


.box3 {
    margin-right: 53px;
    width: 422px;
    display: inline-block;
}


.box4 {
    width: 422px;
    display: inline-block;
}


.box5 {
    margin-right: 53px;
    width: 422px;
    display: inline-block;
}


.box6 {
    width: 422px;
    display: inline-block;
} */


.list-item {
    margin-right: 53px;
    width: 422px;
    display: inline-block;
}

.list-item:nth-child(2n) {
    margin: 0;
}