* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid green; */
}


nav {
    text-align: center;
}


.navigation-menu {
    padding: 78px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin-bottom: 26px;
}


.navigation-menu a {
    color: rgba(98, 98, 98, 255);
    text-decoration: none;
}

.navigation-menu li {
    display: inline-block;
}

.navigation-menu a:hover{
    color: #03a9f4;
}



.navigation-menu li:not(:last-child) {
    margin-right: 120px;
}

menu {
    width: 901px;
    margin: auto;
}


.list-item {
    margin-right: 53px;
    width: 422px;
    display: inline-block;
}


.list-item:nth-child(2n) {
    margin: 0;
}

.link {
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 27px;
}

.text {
    font-family: 'Playfair Display', serif;
    color: rgba(98, 98, 98, 255);
    margin-bottom: 133px;
}


.text2 {
    margin-bottom: 0;
}

.headline {
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    font-family: 'Playfair Display', serif;
    margin-bottom: 36px;
    font-weight: 400;
}

li> img {
    margin-bottom: 28px;
}


footer {
    padding: 55px;
    text-align: center;
}

.load {
    color: rgba(98, 98, 98, 255);
    font-family: 'Playfair Display', serif;
    width: 162px;
    height: 65px;
    background: transparent;
}